

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>


<body style="font-size:20px; padding:50px;">

    <% include ./partials/_header %>

<a href="/urls/new"><button type="submit" class="btn btn-primary">Shorten my URL</button></a>


<ul>

  <% for (key in urls) { %>




  <li>  <a href="/u/<%= key %>"><%= key %></a> - <%= urls[key].longURL%> </li>
     <form method="POST" action="/urls/<%=key%>/delete">
       <button type="Delete mothafucka!" class="btn btn-primary" style= "margin:1em;" >Delete that ugly link</button>
     </form>

     <form method="GET" action="/urls/<%=key%>">
       <button type="Edit!" class="btn btn-primary" style="margin:1em;">Edit yo link</button>
    </form>
<% }; %>
<!-- <li> <a href="#"> link </li> -->
</ul>





</body>
</html>







</body>
</html>